*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.main{
    width: 75%;
    margin: 0 auto;
    padding-top: 0;
    border: 1px solid red;
}
.header{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 40px;
    border: 1px solid blue;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #FF5A5F; 
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%; 
}
.menu h1{
    font-size: 15px;
    justify-content: space-between; 
    font-weight: 400;
    margin-left: 50px;
    align-items: center;
}
.menu div{
    display: flex;
    padding: 8px;
    border: 1px solid rgba(196, 193, 193, 0.685); 
    border-radius: 35px;
    align-items: center;
    justify-content: center;
}

.menu div h1{
    font-size: 15px;
    padding: 20 auto;
    padding-right: 10px; 
    margin-left: 10px;
    margin-right: 10px;    
    font-weight: 400;
    border-right: 1px solid rgba(196, 193, 193, 0.685); 
}
.menu div h1:nth-child(3){
    border: none;
    color:rgba(100, 100, 100, 0.849);
}

.lupa{
    display: flex;
    border-radius: 100px;
    align-items: center;
    background-color: #FF5A5F;
    border: #FF5A5F;
}
.lupa a{
    align-items: center;
    color: white;
}

.login{
    display: flex;
    width: 32%;
    align-items: center;
    justify-content: flex-end;  
}
.login h1{
    font-size: 15px;
    font-weight: 400;
}
.login a{
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-left: 20px;
    margin-right: 20px;
}
.login div{
    display: flex;
    width: 15%;
    padding: 5px;
    border: 1px solid rgba(196, 193, 193, 0.685); 
    border-radius: 35px;
    align-items: center;
    /* padding-left: 12px;
    padding-right: 10px;*/
    margin-left: 20px;
    margin-right: 12px;
} 
.login div svg:last-child{
    width: 100%; 
    color: rgb(100, 100, 100);
    padding-left: 10px;
    /* margin-left: 10px ; */
}
.body{
    padding-top: 30px;
    border: yellow;
}
.body div{
    height: 100%;
}
.box-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1{
    font-size: 1.6rem;
    margin-left: 15px;
}
.title svg{
    width: 25px;
    height: auto;
}
.box-title-btns{
    display: flex;
    justify-content: space-between;
    float: right;
    align-items: center;
}

.box-title--btn{
    display: flex; 
    align-items: center;
    margin-left: 20px
}

.box-title--btn a{
    margin-left: 6px;
    font-size: 0.9rem;
    text-decoration: none;
    color: black
}

.galery{
    height: 100px;
    display: grid;
    margin-top: 30px;
    grid-template-rows: 180px 180px; 
    grid-template-columns:  1fr 1fr 1fr 1fr;
    gap: 10px;
    border: #FF5A5F;
}

.galery div{
    width: 100%;
    height: 100%;
}
.galery img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.galery .img1{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.galery .img1 img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.galery .img3 img{
    border-top-right-radius: 20px;
}

.galery .img5 img{
    border-bottom-right-radius: 20px;
}
.resume-information{
    display: flex;
    padding-top: 20px;
}
.resume-information-left{
    width: 60%;
}
.resume-information-left h1{
    font-size: 1.4rem;
}
.informations h1{
    font-size: 1.4rem;
}
.resume-information-left h2{
    display: inline;
    font-size: 0.9rem;
    font-weight: 350;
    margin-right: 5px;
    padding-right: 5px;
}
.informations h2{
    border-right: 1px solid rgba(196, 193, 193, 0.685);
}

.resume-information-left h2:nth-child(5){
    border-right: none;
}
.resume-information-frame{
    /* display: flex; */
    padding-top: 30px;
}
.resume-information-frame01{ 
    display: flex;  
    align-items: center;
    border: 1px solid rgba(196, 193, 193, 0.685);
    padding: 20px;
    border-radius: 20px;  
}
.resume-information-frame01 div{  
    display: flex; 
    margin: 10px;
    align-items: center;
}
.resume-information-frame01 div:first-child{
    width: 40%;
}
.resume-information-frame01 div:nth-child(3/4){
    width: 15%;
}
.resume-information-frame01 div h1{
    font-size: 1.0rem;
    justify-content: center;
    text-align: center;
    font-weight: 450;
}
.resume-information-frame02 {
    padding-top: 30px;
}
.resume-information-frame02 div{
    /* display: flex;   */
    align-items: center;
}
.anfitriao{
    display: flex;
    align-items: center;  
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(196, 193, 193, 0.685);
}
.anfitriao svg{
    width: 6%;
    margin-right: 5px;
}

.anfitriao h1 {
    margin-left: 12px;
    font-size: 1.0rem;
    font-weight: 400;
}
.anfitriao h2{
    margin-left: 12px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.747);
    font-weight: 400;
    border: none;
}
.regras-imovel{
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(196, 193, 193, 0.685)
}
.regras-imovel h1{
    font-size: 1.0rem;
    font-weight: 400;
}
.regras-imovel h2{
    border: none;
}
table{
    width: 100%;
    align-items: center;
    margin: 2px; 
}

td{
    width: 6px;
    height: 60px;
    align-items: center;
}
td svg{
    width: 70%;
    margin-left: 5px;
}
td h1{
    margin-left: 15px;
}
td h2{
    border: none;
    margin-left: 15px;
}

.text-informativo {
    padding-top: 35px;
    /* margin-bottom: 25px; */
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(196, 193, 193, 0.685)
}

.text-informativo h1{
    font-size: 1.0rem;
    font-weight: 400;
    padding: 20px;
    background-color:rgba(196, 193, 193, 0.425);;
    justify-content: center;
    border: 1px solid rgba(196, 193, 193, 0.425);
    border-radius: 15px;
    text-align: center;
}
.text-informativo p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
.text-informativo a{
    color: black;
    font-weight: bold;
}
.text-informativo div{
    display: flex;
}

.onde-vc-vai-dormir{
    margin-top: 30px;   
    width: 100%;
    border-bottom:1px solid rgba(196, 193, 193, 0.685);
    padding-bottom: 35px;
}
.onde-vc-vai-dormir-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
    width: 60%;
}

.onde-vc-vai-dormir-box{
    /* padding: 50px auto; */
    /* margin: 25px auto;  */
    border: 1px solid rgba(196, 193, 193, 0.685) ;
    width: 50% auto;
    height: 160px;
    border-radius: 20px;
    align-items: center; 
}
.onde-vc-vai-dormir-box div{
    padding: 10%;
    align-items: center;
     
}
.onde-vc-vai-dormir-box svg{
    display: inline;
    vertical-align:middle;
    
    align-self: center;
    align-items: center;
}
